.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 20%;
    .user_display {
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .clock {
        font-size: 20px;
    }
}