.layout {
    height:100vh;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
    
    
    }

    .content {
        display:flex;
        justify-content: center;
        align-items: center;
        padding: '20px 50px'
    }
}
